/* decla des variables
dimension limite 1400 px

mediaquery en dessous des elmements en relation */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html{
    scroll-behavior: smooth
}

:root {
    --primary-color: #F05F40;
    --secondary-color: rgba(0, 0, 0, 0.8);
    --white-police: white;
    --dark-police: black; 
    --titre: "Open sans";
    --texte: "Merriweather";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    font-size: 1.rem;
    /* inserer un background idependant (pourquoi pas avec une effet paralax) */

}

h1,h2,h3,h4{
    font-family: var(--titre);
}

p{
    font-family: var(--texte);
}

a{
    text-decoration: none;
}

/************************************** HEADER ***********************************/

.en-tete{
    padding: 2%;
    color: var(--white-police);
    background-color: var(--secondary-color);
    height: 100vh;

    a{
        color: var(--white-police);
        font-family: var(--titre);
        font-weight: 600;
    }
}

.en-tete__nom{
    font-size: 2rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    
    a:hover{
        color: var(--primary-color);
        }
}

ul{
    max-width: 40%;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    list-style: none;   
}


.en-tete__presentation{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20vh;
    max-width: 40%;
    text-align: center;
    font-size: 1.1rem;
}

.ligne{ 
    width: 18%;
    height: 8px;
    background-color: var(--primary-color);
    margin: 10% auto;
}

.en-tete__bouton{
    margin: 10% auto;
    border-radius: 5px;
    padding: 12px 30px; ;
    background-color: var(--primary-color);
}



/********************** A PROPOS DE MOI ***************************/

.a-propos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    height: 50vh;
}

.ligne-blanche{
    width: 10%;
    height: 8px;
    background-color: var(--white-police);
    margin: 30px auto;
}

.a-propos__contenu{
    margin-top: 5%;
    max-width: 60%;
    text-align: center;
    color: var(--white-police);
}


/********************** PARCOURS ***************************/

.parcours{
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parcours__ligne{
    width: 4%;
    height: 8px;
    background-color: var(--primary-color);
    margin: 20px auto;
}

.parcours__bouton-tri{
    margin-top: 30px;
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.bouton-tri{
    border: 2px solid #F05F40;
    color: var(--primary-color);
    border-radius: 25px;
    padding: 10px 15px;
    font-family: var(--titre);
    font-weight: 600;
    font-size: 0.90rem;
}

.bouton-tri:hover{
    color: var(--white-police);
    background-color: var(--primary-color);
}

.selectionner{
    color: var(--white-police);
    background-color: var(--primary-color);
}

.parcours__liste-tuile{
    margin-top: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.parcours__tuile{
    width: 150px;
    height: 190px;
    margin: 25px; 
    padding: 15px;
    border-radius: 20px;
    border: 3px solid #F05F40;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease; 

}


.parcours__tuile h3{
    font-size: 0.95rem;
    color: #F05F40;
    
}

.parcours__tuile p{
    margin: 15px 0;
    font-size: 0.80rem;
    line-height: 24px;
    font-family: var(--titre);
    font-weight: 600;
}

.parcours__tuile p:nth-child(3){
    font-weight: 600;
    color: #F05F40;
}

.hidden{
    display: none;
}

/********************** POUR TELECHARGER ***************************/

.telecharger{
    color: var(--white-police);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    

    a{
        color: var(--white-police);
        font-family: var(--titre);
        font-weight: 600;
    }

}

.telecharger a{
    margin: 55px auto;
    border-radius: 5px;
    padding: 12px 30px; ;
    background-color: var(--primary-color);
}


/********************** CENTRE D'INTERET ***************************/
.centre_interet{
    width: 60%;
    text-align: center;
    margin: 70px auto;
    overflow-y: clip;
}

.tuile_centre_interet{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 70px;
    height: 500px;
}

.tuile_centre_interet img{
    width: 250px;
    aspect-ratio: 1/2.1;
}

.centre_interet__ligne{
    width: 6%;
    height: 8px;
    background-color: var(--primary-color);
    margin: 25px auto;
}

.tuile_texte{
    position: absolute;
    top: 90%;
    width: 250px;
    background-color: var(--secondary-color);
    color: var(--white-police);
    line-height: 35px;
    opacity: 0.8;
    padding-top: 7px;

    p{
        font-size: 0.80rem;
        padding-top: 5px;
    }
}

article:hover .tuile_texte{
    animation: transi linear 0.25s both;
    animation-timeline: scroll;
}

@keyframes transi {
    0%{ top:90%;}
    100%{top: 55.2%}
}


/********************** FORMULAIRE ***************************/

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;  
}

label{
    font-size: 1.20rem;
    margin: 15px 0;
}

input{
    width: 100%;
    height: 35px;
    font-size: 1.1rem;
}

.contact__nom-mail{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6%;
    margin-top: 50px;
}

.contact__nom-mail div{
    width: 38%;
    display: flex;
    flex-direction: column;
}

.contact__txt-area{
    margin-top: 25px;
    width: 82%;
    display: flex;
    flex-direction: column;
}

textarea{
    height: 220px;
    font-size: 1.1rem;
    resize: vertical;
}

#envoyer{
    margin-top: 40px;
    width: 150px;
    border: 0;
    border-radius: 2%;
    background-color: var(--primary-color);
    color: var(--white-police);
    font-family: var(--titre);
    font-size: 1.25rem;
    font-weight: 600;
}

.contact__ligne{
    background-color: var(--primary-color);
    width: 3.50%;
    height: 8px;
    margin: 25px 0;
}

.fa-solid{
    color: var(--primary-color);
    margin-right: 10px;
}


/********************** FOOTER ***************************/

footer{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--white-police);
    height: 15vh;
}

.pied-page{
    font-size: 1rem;
}
